html
  head
    title Who is my representative?
  body  
    h1 Search for reps now!
    
    form(method='get' action='/')
      select(name='type')
        option(value='zip') Zip
        option(value='name') Name
        option(value='state') State
      input(type='text' name='search')
      button Submit
      
    if type
      p You searched for type: #{type}
    if search
      p Your search query was: #{search}  
    
    
    if reps
      for rep in reps
        ul
          li
            b #{rep.name}
            p State: #{rep.state}
            p=rep.email
            if (rep.party === 'R')
              p Party: Republican
            else if (rep.party ==='D')
              p Party: Democrat
            p=rep.office
            p=rep.phone
