html
  head
    title Who is my representative?
  body  
    h1 Search for reps now!
    
    form(method='get' action='/')
      select(name='type')
        option(value='zip' selected=(query.type === 'zip')) Zip
        option(value='name' selected=(query.type === 'name')) Name
        option(value='state' selected=(query.type === 'state') ) State
      input(type='text' name='search' value=query.search)
      button Submit
      
    if query.type
      p You searched for type: #{query.type}
    if query.search
      p Your search query was: #{query.search}  
    
    if query.type && query.search && !reps.length
      p No reps found with #{query.type} of #{query.search}
      
    if reps
      for rep in reps
        ul
          li
            b #{rep.name}
            p State: #{rep.state}
            p=rep.email
            if (rep.party === 'R')
              p Party: Republican
            else if (rep.party ==='D')
              p Party: Democrat
            p=rep.office
            p=rep.phone
